<!DOCTYPE html>
<html>
  <head>
    <title>Woolie Gang</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="shuffle-container">
      <button id="shuffle">shuffle them faces!</button>
    </div>
    
  	<div class="float-body faces"></div>
  </body>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <script src="/javascripts/manyFaces.js"></script>

</html>
