<!DOCTYPE html>
<html>
  <head>
    <title>Woolie Gang</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="float-body">
      <h1><a href="https://www.instagram.com/wooliegang/">@wooliegang</a></h1>
    </div>

    <div class="many-faces">
      <h1><a href="/manyfaces">Or shuffle some faces!</a></h1>
    </div>
  </body>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <script src="/javascripts/woolieGenerator.js"></script>

</html>
