html, body {
	height: 100%;
}

body {
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.float-body {
	position: relative;
	overflow: hidden;
	background: #000000;
	width: 100%;
	height: 100%;
}

.woolie-container {
	position: absolute;
	transition: all 20s linear;
}

.woolie {
	width: 512px;
	height: 512px;
	display: inline-block;
	background-size: 512px;
	animation: spin 4s linear infinite;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.one {
	background-image: url(/images/Woolie0float8bit.png);
}

.two {
	background-image: url(/images/Woolie1float8bit.png);
}

.three {
	background-image: url(/images/Woolie2float8bit.png);
}

.four {
	background-image: url(/images/Woolie3float8bit.png);
}

.five {
	background-image: url(/images/Woolie4float8bit.png);
}

.six {
	background-image: url(/images/Woolie5float8bit.png);
}

.seven {
	background-image: url(/images/Woolie6float8bit.png);
}

.eight {
	background-image: url(/images/Woolie7float8bit.png);
}

.nine {
	background-image: url(/images/Woolie8float8bit.png);
}

.ten {
	background-image: url(/images/Woolie9float8bit.png);
}

.eleven {
	background-image: url(/images/Woolie10float8bit.png);
}

.twelve {
	background-image: url(/images/Woolie11float8bit.png);
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


