html, body {
	height: 100%;
}

body {
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2px;
	color: #ffffff;
	transition: all 48s ease-in-out;
}

h1 a {
	color: #ffffff;
}

/* home page */

.float-body {
	position: relative;
	text-align: center;
	overflow: hidden;
	background: #000000;
	width: 100%;
	height: 100%;

	/*center woolie gang text */
	display: flex;
    align-items: center;
    justify-content: center;
}

.woolie-container {
	position: absolute;
	transition: all 20s linear;
}

.woolie {
	width: 512px;
	height: 512px;
	display: inline-block;
	background-size: 512px;
	animation: spin 4s linear infinite;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.one {
	background-image: url(/images/Woolie0float8bit.png);
}

.two {
	background-image: url(/images/Woolie1float8bit.png);
}

.three {
	background-image: url(/images/Woolie2float8bit.png);
}

.four {
	background-image: url(/images/Woolie3float8bit.png);
}

.five {
	background-image: url(/images/Woolie4float8bit.png);
}

.six {
	background-image: url(/images/Woolie5float8bit.png);
}

.seven {
	background-image: url(/images/Woolie6float8bit.png);
}

.eight {
	background-image: url(/images/Woolie7float8bit.png);
}

.nine {
	background-image: url(/images/Woolie8float8bit.png);
}

.ten {
	background-image: url(/images/Woolie9float8bit.png);
}

.eleven {
	background-image: url(/images/Woolie10float8bit.png);
}

.twelve {
	background-image: url(/images/Woolie11float8bit.png);
}



/* many faces */

.many-faces {
	position: absolute;
	left: 10vw;
	top: 10vh;
}

.float-body.faces {
	background: #ffffff;
	overflow: scroll;
	flex-wrap: wrap;
	padding: 10px 50px;
	width: auto;
}

.face {
	width: 150px;
	height: 150px;
	background-size: 150px;
}

.shuffle-container {
	text-align: center;
	padding: 20px;
}

#shuffle {
	width: 100px;
	height: 50px;;
}

.one-f {
	background-image: url(/images/face1.png);
}

.two-f {
	background-image: url(/images/face2.png);
}

.three-f {
	background-image: url(/images/face3.png);
}

.four-f {
	background-image: url(/images/face4.png);
}

.five-f {
	background-image: url(/images/face5.png);
}

.six-f {
	background-image: url(/images/face6.png);
}

.seven-f {
	background-image: url(/images/face7.png);
}

.eight-f {
	background-image: url(/images/face8.png);
}

.nine-f {
	background-image: url(/images/face9.png);
}

.ten-f {
	background-image: url(/images/face10.png);
}

.eleven-f {
	background-image: url(/images/face11.png);
}

.twelve-f {
	background-image: url(/images/face12.png);
}

.thirteen-f {
	background-image: url(/images/face13.png);
}

.fourteen-f {
	background-image: url(/images/face14.png);
}

.fifteen-f {
	background-image: url(/images/face15.png);
}

.sixteen-f {
	background-image: url(/images/face16.png);
}

.seventeen-f {
	background-image: url(/images/face17.png);
}

.eighteen-f {
	background-image: url(/images/face18.png);
}

.nineteen-f {
	background-image: url(/images/face19.png);
}

.twenty-f {
	background-image: url(/images/face20.png);
}

.twentyone-f {
	background-image: url(/images/face21.png);
}

.twentytwo-f {
	background-image: url(/images/face22.png);
}


@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


